.App {
  text-align: center;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s ease;
}

.light {
  background-color: #ffffff;
  color: #333333;
}

.dark {
  background-color: #333333;
  color: #ffffff;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px 0;
}

@media (max-width: 767px) {
  .App {
    background-color: #ffffff;
    color: #333333;
  }
}
